body, input, select, textarea {
  background: #47a3da;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

/* entire page content*/
.page-content {
  display: block;
  /*border: solid 2px red;*/
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
}

/*label for each form element*/
label {
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 40px 5px 5px 2px;
  display: block;
  letter-spacing: 1px;
}

/*a text field*/
input {
  border: solid 3px #fff;
  background: transparent;
  color: white;
  display: block;
  line-height: 1.5;
  padding: 5px 10px;
  font-size: 1.4em;
  width: 100%;
}

/*removes default style of blue "blur" on click or tab over all form elements*/
textarea:focus, input:focus, select:focus {
    outline: none;
}

/*a larger text input area*/
textarea {
  background: transparent;
  min-height: 200px;
  border: solid 3px #fff;
  padding: 5px 10px;
  font-size: 1.4em;
  width: 100%;
}

input::-webkit-input-placeholder {
color: #10689a !important;
font-size: 1em;
line-height: 1.5;
font-style: italic;
}

select {
  border: solid 1px #A6A6A6;
  line-height: 1.5;
  background: transparent;
  color: white;
  font-size: 1.4em;
  width: 100%;
}

option {
  font-size: 1.4em;
}

/*Each column of the form body*/

.column1 {
  /*border: solid 1px black;*/
  width: 33%;
  display: block;
  float: left;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
}

.column2 {
  /*border: solid 1px black;*/
  width: 33%;
  display: block;
  float: left;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
}

.column3 {
  /*border: solid 1px black;*/
  width: 33%;
  display: block;
  float: left;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
}

/*Provides a bit of space between the form and the submit button*/
#submit-button-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
  text-align: center;
}

#submit {
  text-align: center;
  background-color: #10689a;
  color: white;
  text-transform: uppercase;
  width: auto;
  border: none;
  font-size: 1.1em;
  padding: 15px 30px;
  border-radius: 2px;
  letter-spacing: 1px;
}
