body {
  background: #47a3da;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

label {
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 40px 5px 5px 2px;
  display: block;
}

input {
  border: solid 3px #fff;
  background-color: #47a3da;
  color: purple;
  display: block;
}

.page-content {
  display: block;
  border: solid 2px red;
  margin-top: 20px;
  margin-bottom: 20px;
}

select {
  border: solid 1px gray;
}

.column1 {
  border: solid 1px black;
  width: 33%;
  display: inline-block;
  /*margin: 5px 10px;*/
  /*padding: 10px 30px;*/
}

.column2 {
  border: solid 1px black;
  width: 33%;
  display: inline-block;
  /*margin: 5px 10px;*/
  /*padding: 10px 30px;*/
}

.column3 {
  border: solid 1px black;
  width: 33%;
  display: inline-block;
  /*margin: 5px 10px;*/
  /*padding: 10px 30px;*/
}

#submit {
  text-align: center;
}
