body {
  background: #47a3da;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 1em;
}

#main-content {
  padding: 48px 32px;
}

#column1 {
  width: 33%;
  padding: 10px 30px;
  border: solid 1px black;
  display:inline;
}

#column2 {
  width: 33%;
  padding: 10px 30px;
  border: solid 1px black;
  display: inline;
}

#column3 {
  width: 33%;
  padding: 10px 30px;
  border: solid 1px black;
  display: inline;
}

label {
  text-transform: uppercase;
}

input {
  display: inline-block;
}
